// colors

$main-color: lightcoral;
$secondary-color1: pink;
$secondary-color2: aqua;
$secondary-color3: palegreen;

//container size

$containerMaxWidth: 1200px;


// button colors 

$buttonColor1: rgb(43, 43, 203);
$buttonColor2: rgb(158, 157, 157);
$buttonColor3: rgb(152, 52, 52)
